* {
    box-sizing: border-box;
  }
  
  /* Style body */
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  
  /*Style bullets*/
  ul.bullets {
    list-style-type: circle;
  }

  /* Header */
  .header {
    padding: 40px;
    text-align: center;
    background: #0e3281;
    color: white;
  }
  
  /* Bigger font size for heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Style top nav bar */
  .navbar {
    overflow: hidden;
    background-color: rgb(34, 27, 27);
  }
  
  /* Style nav bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Sidebar/left column */
  .side {
    -ms-flex: 5%; /* IE10 */
    flex: 5%;
    background-color: #72594ef6;
    padding: 10px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #a37967f3;
    padding: 20px;
  }

  /*centering images*/
  .center {  
    width: 400px;  
    height: 150px;  
    border: 5px solid red;  
    background-color: lightgreen;  
    object-fit: none;  
    object-position: center top;  
    }  
    
    /*vertical line between text*/
    .vertical-line{
      display: inline-block;
      border-left: 2px solid #ccc;
      margin: 0 00px;
      height: 15px;
  }

  /*lists style*/
  ul.a {
    list-style-type: circle;
  }
